
/* The Nav Bar Styling */
*{
    text-decoration: none;
}
.navbar{
    background: #b46262; font-family: calibri; padding-right: 15px;padding-left: 15px;
}

/* Here we will put our logo */
.logoimg{
    position: sticky;
    width: 90px;
    height: 50px;
    background-image: url('F:\ICT PROJET\Images\logos.jpg');
}

.navdiv{
    display: flex; align-items: center; justify-content: space-between;
}
.logo a{
    font-size: 35px; font-weight: 600; color: white;
}
li{
    list-style: none; display: inline-block;
}
li a{
    color: white; font-size: 18px; font-weight: bold; margin-right: 25px;
}
button{
    background-color: black; margin-left: 10px; border-radius: 10px; padding: 10px; width: 90px;
}
button a{
    color: white; font-weight: bold; font-size: 15px;
}